body {
    background-color:#0d1117 ;
    color: #F7E5DB;
}

h1{
    text-align: center;
    font-size: 95px;
}

h2{
    text-align: center;
    font-size: 45px;
} 

table
{
    border-collapse: collapse; 
}

td
{
    border: 1px solid #C9D1D9;
}

.citation {
    font-style: italic;
    font-size: 41px;
    color :#D8EFDD!important;
}

.profil {
    height: 450px;
    display: block;
    margin: auto;
 }   
