body {
    background-color:#0d1117 ;
    color: #C9D1D9;
    align-content: center;
}

table
{
    border-collapse: collapse; 
}

td
{
    border: 1px solid #C9D1D9;
}

.citation {
    font-style: italic;
}

.imgmoi {
    height: 350px;
 }   